<div class="title">
  <%= hello_world %>
</div>
<div class="property-a">
  <%= dummy.a %>
</div>
<div class="test-method">
  <%= test_method %>
</div>
<div class="my-property">
  <%= my_property %>
</div>

<% for dummy_member in dummies %>
  <%= dummy_member.b %>
<% end %>


<div class="helper-test">
  <%= admin_test_helper.my_name_is()%>
</div>